<nb-card [nbSpinner]="loadingList" nbSpinnerStatus="primary">
    <nb-card-header>
      Nhắc nợ đã tạo
    </nb-card-header>
  
    <nb-card-body *ngIf="payment.account!=''">
      <ngx-debit-list [payment]="payment"></ngx-debit-list>
    </nb-card-body>
    <notifier-container>
      <ng-template #customNotification let-notificationData="notification">
        <div>
          <strong>{{ notificationData.message }}</strong>
        </div>
      </ng-template>
    </notifier-container>
</nb-card>

<nb-card [nbSpinner]="loadingList" nbSpinnerStatus="primary">
  <nb-card-header>
    Nhắc nợ đã nhận
  </nb-card-header>

  <nb-card-body *ngIf="payment.account!=''">
    <ngx-credit-list [payment]="payment"></ngx-credit-list>
  </nb-card-body>
  <notifier-container>
    <ng-template #customNotification let-notificationData="notification">
      <div>
        <strong>{{ notificationData.message }}</strong>
      </div>
    </ng-template>
  </notifier-container>
</nb-card>
  