<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
    <nb-card-header>Tạo mới nhắc nợ</nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="sendDebit()">
        <div class="form-group row">
          <label for="inputAccount" class="label col-sm-3 col-form-label">Thông tin người nợ</label>
          <div class="col-sm-3">
            <!-- <input nbInput fullWidth id="inputAccount" placeholder="Số tài khoản người nợ"> -->
            <ngx-auto-complete [placeholder]="'Số tài khoản người nợ'" [(loading)]="loading" [(keywork)]="debitData.account" [(valueshow)]="accountInfo.name" [(response)]="accountInfo" [dataSource]="source" (callBackFunc)="callBack($event)"></ngx-auto-complete>
          </div>
          <label class="label col-sm-3 col-form-label"><span>{{accountInfo.name}}</span></label>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-3 text-center">
                <span><b>hoặc</b></span>
            </div>
          </div>
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-3">
            <nb-select [(ngModel)]="debitData.account" name="account" fullWidth placeholder="Chọn người nợ" [disabled]="accountInfo.name!=''">
              <nb-option *ngFor="let item of debits" [value]="item.account" (selectionChange)="accountChange(item)">{{item.account}}</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputMoney" class="label col-sm-3 col-form-label">Số tiền chuyển</label>
          <div class="col-sm-3">
            <input nbInput currencyMask [(ngModel)]="debitData.money" name="money" [options]="{ prefix: '', thousands: ',', decimal: '.', precision: '0', allowNegative: false }"
                      class="form-control form-primary form-control-lg form-control-right border-left-0 border-right-0 border-top-0"
                      placeholder="0.000">
            <!-- <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of keypadNumbers" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
            <span class="form-bar"></span> -->
          </div>
        </div>
        <div class="form-group row">
          <label for="inputContent" class="label col-sm-3 col-form-label">Nội dung</label>
          <div class="col-sm-6">
            <input nbInput [(ngModel)]="debitData.content" name="content" fullWidth id="inputContent" placeholder="Nội dung nhắc nợ">
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" nbButton status="primary">Gửi nhắc nợ</button>
          </div>
        </div>
      </form>
    </nb-card-body>
    <notifier-container>
      <ng-template #customNotification let-notificationData="notification">
        <div>
          <strong>{{ notificationData.message }}</strong>
        </div>
      </ng-template>
    </notifier-container>
  </nb-card>