<main>
    <div class="edge-anner-wrapper">
        <div class="container-sc"></div>
    </div>
    <div style="margin-top:15px;margin-bottom:15px;display:flex;" class="container-sc">
        <app-tiki-nav-bar></app-tiki-nav-bar>
        <app-banner></app-banner>
    </div>
    <div class="container-sc"></div>
    <div class="container-sc"></div>
    <div class="container-sc">
        <div class="group-products-wrapper">
            <div class="header">
                <span class="tikicon icon-hot-deal-icon"></span>
                <div>
                    <h3 class="title deal">Tiki Deal</h3>
                    <p class="description">Cập nhật hàng giờ tất cả những deal giảm giá đặc biệt trên Tiki. Hãy bookmark
                        trang này và quay lại thường xuyên để không bỏ lỡ bạn nhé!</p>
                </div>
            </div>
            <div class="body">
                <app-loading-product-list [isLoading]="isLoadingProduct"></app-loading-product-list>
                <div *ngIf="!isLoadingProduct" class="list-wrapper">
                    <a href="https://tiki.vn/bo-tron-am-thanh-soundcraft-signature-22-mtk-hang-chinh-hang-p1949645.html?spid=1949647&amp;src=home-deal-hot" title="Bộ Trộn Âm Thanh Soundcraft Signature 22 MTK - Hàng Chính Hãng" class="item-wrapper" style="width: 20%;">
                        <div class="item-picture">
                            <img src="./assets/img/products/280x280/soundcraft-signature.jpg" alt="Bộ Trộn Âm Thanh Soundcraft Signature 22 MTK - Hàng Chính Hãng" class="lazyload-image-wrapper" style="width: auto; height: 100%; opacity: 1;">
                        </div>
                        <p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Bộ Trộn Âm Thanh Soundcraft Signature 22 MTK - Hàng Chính Hãng</p>
                        <p class="price">16.990.000 ₫<span class="percent deal">-33%</span><span class="original deal">25.020.000 ₫</span>
                        </p>
                        <div class="bottom" style="justify-content: flex-end;">
                            <div class="item-deal">
                                <div class="progress">
                                    <div class="bar">
                                        <div class="percent" style="width: 33%;"></div>
                                        <div class="content">
                                            <p class="text">Đã bán 1</p>
                                        </div>
                                    </div>
                                    <p class="count-down-wrapper" style="width: 90px; margin-left: 10px;">0 ngày 01:41:25</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://tiki.vn/tui-dung-sua-me-tru-sua-me-unimom-compact-khong-co-bpa-um870251-210ml-30-tui-hop-p11253495.html?spid=11253496&amp;src=home-deal-hot" title="Túi Đựng Sữa Mẹ (Trữ Sữa Mẹ) Unimom Compact Không Có BPA UM870251 210ml (30 Túi/Hộp)" class="item-wrapper" style="width: 20%;">
                        <div class="item-picture">
                            <img src="./assets/img/products/280x280/unimom-compact.jpg" alt="Túi Đựng Sữa Mẹ (Trữ Sữa Mẹ) Unimom Compact Không Có BPA UM870251 210ml (30 Túi/Hộp)" class="lazyload-image-wrapper" style="width: auto; height: 100%; opacity: 1;">
                        </div>
                        <p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Túi Đựng Sữa Mẹ (Trữ Sữa Mẹ) Unimom Compact Không Có BPA UM870251 210ml (30 Túi/Hộp)</p>
                        <p class="price">89.000 ₫<span class="percent deal">-23%</span><span class="original deal">115.000 ₫</span>
                        </p>
                        <div class="bottom" style="justify-content: flex-end;">
                            <div class="item-deal">
                                <div class="progress">
                                    <div class="bar">
                                        <div class="percent" style="width: 83%;"></div>
                                        <div class="content"><span class="icon tikicon icon-hot_12"></span>
                                            <p class="text">Sắp bán hết</p>
                                        </div>
                                    </div>
                                    <p class="count-down-wrapper" style="width: 90px; margin-left: 10px;">0 ngày 01:41:25</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://tiki.vn/that-lung-nam-lich-lam-at-leather-atn01-den-p809035.html?spid=837455&amp;src=home-deal-hot" title="Thắt Lưng Nam Lịch Lãm AT Leather ATN01 - Đen" class="item-wrapper" style="width: 20%;">
                        <div class="item-picture">
                            <img src="./assets/img/products/280x280/leather.jpg" alt="Thắt Lưng Nam Lịch Lãm AT Leather ATN01 - Đen" class="lazyload-image-wrapper" style="width: auto; height: 100%; opacity: 1;">
                        </div>
                        <p class="title" style="height: 40px;">Thắt Lưng Nam Lịch Lãm AT Leather ATN01 - Đen</p>
                        <p class="price">139.000 ₫<span class="percent deal">-53%</span><span class="original deal">295.000 ₫</span>
                        </p>
                        <div class="bottom" style="justify-content: flex-end;">
                            <div class="item-deal">
                                <div class="progress">
                                    <div class="bar">
                                        <div class="percent" style="width: 80%;"></div>
                                        <div class="content"><span class="icon tikicon icon-hot_12"></span>
                                            <p class="text">Sắp bán hết</p>
                                        </div>
                                    </div>
                                    <p class="count-down-wrapper" style="width: 90px; margin-left: 10px;">0 ngày 01:41:25</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://tiki.vn/vi-cam-tay-nu-vi-nu-di-tiec-simple-style-elysia-vg04-p19948878.html?spid=19948888&amp;src=home-deal-hot" title="Ví Cầm Tay Nữ, Ví Nữ Đi Tiệc Simple Style Elysia - VG04" class="item-wrapper" style="width: 20%;">
                        <div class="item-picture">
                            <img src="./assets/img/products/280x280/vi-simple-style-elysia.jpg" alt="Ví Cầm Tay Nữ, Ví Nữ Đi Tiệc Simple Style Elysia - VG04" class="lazyload-image-wrapper" style="width: auto; height: 100%; opacity: 1;">
                        </div>
                        <p class="title" style="height: 40px;">Ví Cầm Tay Nữ, Ví Nữ Đi Tiệc Simple Style Elysia - VG04</p>
                        <p class="price">47.000 ₫<span class="percent deal">-61%</span><span class="original deal">120.000 ₫</span>
                        </p>
                        <div class="bottom" style="justify-content: flex-end;">
                            <div class="item-deal">
                                <div class="progress">
                                    <div class="bar">
                                        <div class="percent" style="width: 0%;"></div>
                                        <div class="content">
                                            <p class="text">Vừa mở bán</p>
                                        </div>
                                    </div>
                                    <p class="count-down-wrapper" style="width: 90px; margin-left: 10px;">0 ngày 01:41:25</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://tiki.vn/ipad-10-2-inch-wifi-32gb-new-2019-hang-nhap-khau-p37299857.html?spid=34991199&amp;src=home-deal-hot" title="iPad 10.2 Inch WiFi 32GB New 2019 - Hàng Nhập Khẩu" class="item-wrapper" style="width: 20%;">
                        <div class="item-picture">
                            <img src="./assets/img/products/280x280/iPad-10.2-inch.jpg" alt="iPad 10.2 Inch WiFi 32GB New 2019 - Hàng Nhập Khẩu" class="lazyload-image-wrapper" style="width: auto; height: 100%; opacity: 1;">
                        </div>
                        <p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>iPad 10.2 Inch WiFi 32GB New 2019 - Hàng Nhập Khẩu</p>
                        <p class="price">8.789.000 ₫<span class="percent deal">-13%</span><span class="original deal">9.990.000 ₫</span>
                        </p>
                        <div class="bottom" style="justify-content: flex-end;">
                            <div class="item-deal">
                                <div class="progress">
                                    <div class="bar">
                                        <div class="percent" style="width: 0%;"></div>
                                        <div class="content">
                                            <p class="text">Vừa mở bán</p>
                                        </div>
                                    </div>
                                    <p class="count-down-wrapper" style="width: 90px; margin-left: 10px;">0 ngày 01:41:25</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://tiki.vn/op-lung-kem-ban-phim-danh-cho-ipad-9-7-p15419826.html?spid=15419827&amp;src=home-deal-hot" title="Ốp Lưng Kèm Bàn Phím Dành Cho iPad 9.7" class="item-wrapper" style="width: 20%;">
                        <div class="item-picture">
                            <img src="./assets/img/products/280x280/op-iPad-9.7.jpg" alt="Ốp Lưng Kèm Bàn Phím Dành Cho iPad 9.7" class="lazyload-image-wrapper" style="width: auto; height: 100%; opacity: 1;">
                        </div>
                        <p class="title" style="height: 40px;">Ốp Lưng Kèm Bàn Phím Dành Cho iPad 9.7</p>
                        <p class="price">399.000 ₫<span class="percent deal">-36%</span><span class="original deal">622.000 ₫</span>
                        </p>
                        <div class="bottom" style="justify-content: flex-end;">
                            <div class="item-deal">
                                <div class="progress">
                                    <div class="bar">
                                        <div class="percent" style="width: 0%;"></div>
                                        <div class="content">
                                            <p class="text">Vừa mở bán</p>
                                        </div>
                                    </div>
                                    <p class="count-down-wrapper" style="width: 90px; margin-left: 10px;">0 ngày 01:41:25</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://tiki.vn/router-wi-fi-tp-link-archer-c5400-mu-mimo-gigabit-3-bang-tan-ac5400-hang-chinh-hang-p3858183.html?spid=3858185&amp;src=home-deal-hot" title="Router Wi-Fi TP-Link Archer C5400 MU-MIMO Gigabit 3 Băng Tần AC5400 - Hàng Chính Hãng" class="item-wrapper" style="width: 20%;">
                        <div class="item-picture">
                            <img src="./assets/img/products/280x280/router-wifi-TP-Link.jpg" alt="Router Wi-Fi TP-Link Archer C5400 MU-MIMO Gigabit 3 Băng Tần AC5400 - Hàng Chính Hãng" class="lazyload-image-wrapper" style="width: auto; height: 100%; opacity: 1;">
                        </div>
                        <p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Router Wi-Fi TP-Link Archer C5400 MU-MIMO Gigabit 3 Băng Tần AC5400 - Hàng Chính Hãng</p>
                        <p class="price">4.790.000 ₫<span class="percent deal">-32%</span><span class="original deal">6.990.000 ₫</span>
                        </p>
                        <div class="bottom" style="justify-content: flex-end;">
                            <div class="item-deal">
                                <div class="progress">
                                    <div class="bar">
                                        <div class="percent" style="width: 23%;"></div>
                                        <div class="content">
                                            <p class="text">Đã bán 9</p>
                                        </div>
                                    </div>
                                    <p class="count-down-wrapper" style="width: 90px; margin-left: 10px;">0 ngày 01:41:25</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://tiki.vn/dung-dich-giat-quan-ao-cho-be-d-nee-chai-3000ml-xanh-p543129.html?spid=266229&amp;src=home-deal-hot" title="Dung Dịch Giặt Quần Áo Cho Bé D-Nee - Chai 3000ml (Xanh)" class="item-wrapper" style="width: 20%;">
                        <div class="item-picture">
                            <img src="./assets/img/products/280x280/d-nee.jpg" alt="Dung Dịch Giặt Quần Áo Cho Bé D-Nee - Chai 3000ml (Xanh)" class="lazyload-image-wrapper" style="width: auto; height: 100%; opacity: 1;">
                        </div>
                        <p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Dung Dịch Giặt Quần Áo Cho Bé D-Nee - Chai 3000ml (Xanh)</p>
                        <p class="price">165.000 ₫<span class="percent deal">-24%</span><span class="original deal">215.000 ₫</span>
                        </p>
                        <div class="bottom" style="justify-content: flex-end;">
                            <div class="item-deal">
                                <div class="progress">
                                    <div class="bar">
                                        <div class="percent" style="width: 96%;"></div>
                                        <div class="content"><span class="icon tikicon icon-hot_12"></span>
                                            <p class="text">Sắp bán hết</p>
                                        </div>
                                    </div>
                                    <p class="count-down-wrapper" style="width: 90px; margin-left: 10px;">0 ngày 01:41:25</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://tiki.vn/ta-quan-bobby-goi-mega-jumbo-l111-111-mieng-p26507932.html?spid=26507933&amp;src=home-deal-hot" title="Tã Quần Bobby Gói Mega Jumbo L111 (111 Miếng)" class="item-wrapper" style="width: 20%;">
                        <div class="item-picture">
                            <img src="./assets/img/products/280x280/mega-jumbo-l111.jpg" alt="Tã Quần Bobby Gói Mega Jumbo L111 (111 Miếng)" class="lazyload-image-wrapper" style="width: auto; height: 100%; opacity: 1;">
                        </div>
                        <p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Tã Quần Bobby Gói Mega Jumbo L111 (111 Miếng)</p>
                        <p class="price">479.000 ₫<span class="percent deal">-24%</span><span class="original deal">623.000 ₫</span>
                        </p>
                        <div class="bottom" style="justify-content: flex-end;">
                            <div class="item-deal">
                                <div class="progress">
                                    <div class="bar">
                                        <div class="percent" style="width: 10%;"></div>
                                        <div class="content">
                                            <p class="text">Đã bán 39</p>
                                        </div>
                                    </div>
                                    <p class="count-down-wrapper" style="width: 90px; margin-left: 10px;">0 ngày 01:41:25</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="https://tiki.vn/may-quet-ma-vach-laser-5v-p11335532.html?spid=11335533&amp;src=home-deal-hot" title="Máy Quét Mã Vạch Laser 5V" class="item-wrapper" style="width: 20%;">
                        <div class="item-picture">
                            <img src="./assets/img/products/280x280/laser-5V.jpg" alt="Máy Quét Mã Vạch Laser 5V" class="lazyload-image-wrapper" style="width: auto; height: 100%; opacity: 1;">
                        </div>
                        <p class="title" style="height: 40px;">Máy Quét Mã Vạch Laser 5V</p>
                        <p class="price">449.000 ₫<span class="percent deal">-62%</span><span class="original deal">1.152.000 ₫</span>
                        </p>
                        <div class="bottom" style="justify-content: flex-end;">
                            <div class="item-deal">
                                <div class="progress">
                                    <div class="bar">
                                        <div class="percent" style="width: 0%;"></div>
                                        <div class="content">
                                            <p class="text">Vừa mở bán</p>
                                        </div>
                                    </div>
                                    <p class="count-down-wrapper" style="width: 90px; margin-left: 10px;">0 ngày 01:41:25</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="footer">
                <a class="view-button-wrapper" href="/deal-hot?tab=now&amp;page=1">Xem thêm</a>
            </div>
        </div>
    </div>
    <div class="container-sc"></div>
    <div class="container-sc">
        <app-hot-category></app-hot-category>
    </div>
    <div class="container-sc">
        <app-hot-word></app-hot-word>
    </div>
    <div style="margin-bottom:60px" class="container-sc"></div>
</main>