<footer class="footer-wrapper-sc">
    <div class="footer-newsletter-sc">
        <div class="Container-sc-1fnsswg-0 itgICN" style="display: flex; height: 100px; padding-top: 32px;">
            <div class="NewsLetter-icon"><img
                    src="./assets/img/footer/newsletter.png" width="163" alt="">
            </div>
            <div class="NewsLetter-description">
                <h3>Đăng ký nhận bản tin Tiki</h3>
                <h5>Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn</h5>
            </div>
            <div class="NewsLetter-form">
                <div><input type="email" placeholder="Địa chỉ email của bạn" value=""></div><button>Đăng ký</button>
            </div>
        </div>
    </div>
</footer>