<div class="hot-slider-wrapper">
    <h4 class="title-wrapper">NGÀNH HÀNG QUAN TÂM</h4>
    <div class="slide-container">
        <div class="slider-wrapper">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="categories" href="https://tiki.vn/do-choi-me-be/c2549?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/me-be.jpg" alt="Đồ Chơi - Mẹ &amp; Bé"
                                            class="lazyload-image-wrapper" style="opacity: 1;"></div>
                                    <p>Đồ Chơi - Mẹ &amp; Bé</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div ngxSlickItem class="element">
                                <a class="categories" href="https://tiki.vn/dien-thoai-may-tinh-bang/c1789?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/dienthoai-maytinh.jpg"
                                            alt="Điện Thoại - Máy Tính Bảng" class="lazyload-image-wrapper" style="opacity: 1;"></div>
                                    <p>Điện Thoại - Máy Tính Bảng</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="categories" href="https://tiki.vn/lam-dep-suc-khoe/c1520?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/lamdep-suckhoe.jpg" alt="Làm Đẹp - Sức Khỏe"
                                            class="lazyload-image-wrapper" style="opacity: 1;"></div>
                                    <p>Làm Đẹp - Sức Khỏe</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="categories" href="https://tiki.vn/dien-gia-dung/c1882?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/dien-gia-dung.png" alt="Điện Gia Dụng"
                                            class="lazyload-image-wrapper" style="opacity: 1;"></div>
                                    <p>Điện Gia Dụng</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="categories" href="https://tiki.vn/thoi-trang/c914?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/thoi-trang.jpg" alt="Thời Trang"
                                            class="lazyload-image-wrapper" style="opacity: 1;">
                                    </div>
                                    <p>Thời Trang</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="categories" href="https://tiki.vn/dien-tu-dien-lanh/c4221?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/dien-tu-dien-lanh.png" alt="Điện Tử - Điện Lạnh"
                                            class="lazyload-image-wrapper" style="opacity: 1;"></div>
                                    <p>Điện Tử - Điện Lạnh</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="categories" href="https://tiki.vn/nha-cua-doi-song/c1883?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/nha-cua-doi-song.jpg" alt="Nhà Cửa - Đời Sống"
                                            class="lazyload-image-wrapper" style="opacity: 1;"></div>
                                    <p>Nhà Cửa - Đời Sống</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="categories" href="https://tiki.vn/hang-quoc-te/c17166?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/hang-quoc-te.jpg" alt="Hàng Quốc Tế"
                                            class="lazyload-image-wrapper" style="opacity: 1;"></div>
                                    <p>Hàng Quốc Tế</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="categories" href="https://tiki.vn/bach-hoa-online/c4384?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/bach-hoa-online.jpg" alt="Bách Hóa Online"
                                            class="lazyload-image-wrapper" style="opacity: 1;"></div>
                                    <p>Bách Hóa Online</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="categories" href="https://tiki.vn/thiet-bi-kts-phu-kien-so/c1815?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/thiet-bi-kts-phu-kien-so.jpg"
                                            alt="Thiết Bị Số - Phụ Kiện Số" class="lazyload-image-wrapper" style="opacity: 1;"></div>
                                    <p>Thiết Bị Số - Phụ Kiện Số</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="categories" href="https://tiki.vn/voucher-dich-vu/c11312?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/voucher.jpg" alt="Voucher - Dịch vụ"
                                            class="lazyload-image-wrapper" style="opacity: 1;"></div>
                                    <p>Voucher - Dịch vụ</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="categories" href="https://tiki.vn/o-to-xe-may-xe-dap/c8594?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/xe.jpg" alt="Ô Tô - Xe Máy - Xe Đạp"
                                            class="lazyload-image-wrapper" style="opacity: 1;"></div>
                                    <p>Ô Tô - Xe Máy - Xe Đạp</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="categories"
                                    href="https://tiki.vn/nha-sach-tiki/c8322?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/nha-sach.jpg" alt="Nhà Sách Tiki"
                                            class="LazyLoadImage__Wrapper-sc-8w66ab-0 eQFYij" style="opacity: 1;"></div>
                                    <p>Nhà Sách Tiki</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="categories"
                                    href="https://tiki.vn/laptop-may-vi-tinh-linh-kien/c1846?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/may-tinh.png"
                                            alt="Laptop - Máy Vi Tính - Linh kiện" class="LazyLoadImage__Wrapper-sc-8w66ab-0 eQFYij"
                                            style="opacity: 1;"></div>
                                    <p>Laptop - Máy Vi Tính - Linh kiện</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="categories"
                                    href="https://tiki.vn/the-thao-da-ngoai/c1975?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/the-thao.png" alt="Thể Thao - Dã Ngoại"
                                            class="LazyLoadImage__Wrapper-sc-8w66ab-0 eQFYij" style="opacity: 1;">
                                    </div>
                                    <p>Thể Thao - Dã Ngoại</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide-sc" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="categories" href="https://tiki.vn/may-anh/c1801?src=home_interesting_categories">
                                    <div class="image"><img src="./assets/img/category/hot/camera.jpg" alt="Máy Ảnh - Máy Quay Phim"
                                            class="LazyLoadImage__Wrapper-sc-8w66ab-0 eQFYij" style="opacity: 1;"></div>
                                    <p>Máy Ảnh - Máy Quay Phim</p>
                                </a></div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</div>