<nb-card [nbSpinner]="loadingPayment" nbSpinnerStatus="primary">
    <nb-card-body>
        <notifier-container></notifier-container>
        <div class="form-group row">
             
            <div class="col-sm-3">
                <label for="inputAccount" class="label col-form-label">Ngân hàng</label>
                <nb-select name="accountNumber" fullWidth placeholder="Chọn ngân hàng" (selectedChange)="partnerChange($event)">
                    <nb-option *ngFor="let partner of partnerList" [value]="partner">{{partner.name}}</nb-option>
                </nb-select>
            </div>
            <div class="col-sm-3">
                <div class=" form-control-group">
                    <label class="label">Từ ngày:</label>
                    <input nbInput
                    fullWidth
                    readonly
                    name="birthdate"
                    id="input-birthdate"
                    [nbDatepicker]="datepickerStartDate"
                    [(ngModel)]="startDate"
                    (ngModelChange)="dateChange()"
                    placeholder="Từ ngày"
                    fieldSize="large"
                    autofocus />
                    <nb-datepicker #datepickerStartDate format="yyyy-MM-dd"></nb-datepicker>
                </div>               
            </div>
            <div class="col-sm-3">
                <div class="form-control-group">
                    <label class="label">Tới ngày:</label>
                    <input nbInput
                        fullWidth
                        readonly
                        name="birthdate"
                        id="input-birthdate"
                        [nbDatepicker]="datepickerEndDate"
                        [(ngModel)]="endDate"
                        (ngModelChange)="dateChange()"
                        placeholder="Tới ngày"
                        fieldSize="large"
                        autofocus/>
                    <nb-datepicker #datepickerEndDate format="yyyy-MM-dd"></nb-datepicker>
                </div>
            </div>
        </div>
        
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
