<div wrap="true" class="banners-main-grid">
    <div width="584px" class="banners-main-grid-sc-left">
        <div width="100%" height="362px" class="banners-main-grid-slide">
            <div class="slide-root">
                <div class="slider-wrapper">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem>
                            <div>
                                <a href="https://tiki.vn/chuong-trinh/bach-hoa-online?src=home_v4_main_banner.s5.b41472" aria-label="" tabindex="-1"
                                    style="width: 100%; display: inline-block;">
                                    <div class="picture-styled-picture" width="584" height="365">
                                        <img class="image" src="./assets/img/banner/lam-dep.png"
                                            srcset="./assets/img/banner/lam-dep.png 1x, ./assets/img/banner/lam-dep.png 2x" alt="" />
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div ngxSlickItem>
                            <div>
                                <a href="chuong-trinh/bam-mot-ngon-mua-hang-trieu-mon6e45.html?src=home_v4_main_banner.s1.b43279" aria-label=""
                                    tabindex="-1" style="width:100%;display:inline-block">
                                    <div class="picture-styled-picture" width="584" height="365">
                                        <img class="image" src="/assets/img/banner/11-11.jpg" alt=""
                                            srcset="/assets/img/banner/11-11.jpg 1x, /assets/img/banner/11-11.jpg 2x">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div ngxSlickItem>
                            <div>
                                <a href="https://tiki.vn/chuong-trinh/bach-hoa-online?src=home_v4_main_banner.s5.b41472" aria-label="" tabindex="-1"
                                    style="width: 100%; display: inline-block;">
                                    <div class="picture-styled-picture" width="584" height="365">
                                        <img class="image" src="./assets/img/banner/me-be.png"
                                            srcset="./assets/img/banner/me-be.png 1x, ./assets/img/banner/me-be.png 2x" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div ngxSlickItem>
                            <div>
                                <a href="https://tiki.vn/chuong-trinh/sieu-sale-cong-nghe?src=home_v4_main_banner.s3.b41520" aria-label=""
                                    tabindex="-1" style="width: 100%; display: inline-block;">
                                    <div class="picture-styled-picture" width="584" height="365">
                                        <img class="image" src="./assets/img/banner/dien-tu.png"
                                            srcset="./assets/img/banner/dien-tu.png 1x, ./assets/img/banner/dien-tu.png 2x" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div ngxSlickItem>
                            <div>
                                <a href="https://tiki.vn/chuong-trinh/khuyen-mai-hot-thoi-trang-phu-kien?src=home_v4_main_banner.s4.b41493"
                                    aria-label="" tabindex="-1" style="width: 100%; display: inline-block;">
                                    <div class="picture-styled-picture" width="584" height="365">
                                        <img class="image" src="./assets/img/banner/dien-may.png"
                                            srcset="./assets/img/banner/dien-may.png 1x, ./assets/img/banner/dien-may.png 2x" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div ngxSlickItem>
                            <div>
                                <a href="https://tiki.vn/chuong-trinh/bach-hoa-online?src=home_v4_main_banner.s5.b41472" aria-label="" tabindex="-1"
                                    style="width: 100%; display: inline-block;">
                                    <div class="picture-styled-picture" width="584" height="365">
                                        <img class="image" src="./assets/img/banner/sach.png"
                                            srcset="./assets/img/banner/sach.png 1x, ./assets/img/banner/sach.png 2x" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
        <div width="100%" class="banners-hot-product">
            <div width="50%" height="181px" class="hot-product-item">
                <a href="chuong-trinh/sieu-thi-ta-bim002b.html?src=home_v4_sub_banner.s1.b41074" aria-label="">
                    <div class="hot-product-item-pic" width="292" height="181">
                        <img class="image" src="./assets/img/banner/baby.png" alt=""
                            srcset="./assets/img/banner/baby.png 1x, ./assets/img/banner/baby.png 2x">
                    </div>
                </a>
            </div>
            <div width="50%" height="181px" class="hot-product-item-pic-yellow">
                <a href="chuong-trinh/san-sale-top-hang-hieu4d17.html?src=home_v4_sub_banner.s2.b41039" aria-label="">
                    <div class="hot-product-item-pic" width="292" height="181">
                        <img class="image" src="./assets/img/banner/quat.png" alt=""
                            srcset="./assets/img/banner/quat.png 1x, ./assets/img/banner/quat.png 2x">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div width="412px" class="banners-main-grid-sc-right">
        <div width="50%" height="181px" class="hot-product-item">
            <a href="chuong-trinh/uu-dai-doi-tac7ad0.html?src=home_v4_mini_banner.s1.b41399" aria-label="">
                <div class="styled-picture" width="206" height="181">
                    <img class="image" src="./assets/img/banner/smart.png" alt=""
                        srcset="./assets/img/banner/smart.png 1x, ./assets/img/banner/smart.png 2x">
                </div>
            </a>
        </div>
        <div width="50%" height="181px" class="hot-product-item-pic-yellow">
            <a href="chuong-trinh/dai-chien-cong-nghe84ff.html?src=home_v4_mini_banner.s2.b41393" aria-label="">
                <div class="styled-picture" width="206" height="181">
                    <img class="image" src="./assets/img/banner/tivi-may-giat.png" alt=""
                        srcset="./assets/img/banner/tivi-may-giat.png 1x, ./assets/img/banner/tivi-may-giat.png 2x">
                </div>
            </a>
        </div>
        <div width="50%" height="181px" class="hot-product-item-pic-yellow">
            <a href="lich/c38929e38.html?src=home_v4_mini_banner.s3.b41382&amp;_lc=Vk4wMjkwMDMwMDE%3D&amp;seller=1"
                aria-label="">
                <div class="styled-picture" width="206" height="181">
                    <img class="image" src="./assets/img/banner/calendar.png" alt=""
                        srcset="./assets/img/banner/calendar.png 1x, ./assets/img/banner/calendar.png 2x">
                </div>
            </a>
        </div>
        <div width="50%" height="181px" class="hot-product-item">
            <a href="chuong-trinh/voucher-sale-chop-nhoang770c.html?src=home_v4_mini_banner.s4.b41381" aria-label="">
                <div class="styled-picture" width="206" height="181">
                    <img class="image" src="./assets/img/banner/voucher.png" alt=""
                        srcset="./assets/img/banner/voucher.png 1x, ./assets/img/banner/voucher.png 2x">
                </div>
            </a>
        </div>
        <div width="50%" height="181px" class="hot-product-item">
            <a href="chuong-trinh/do-dung-gia-dinh-tien-ich-hot-deal5bfd.html?src=home_v4_mini_banner.s5.b41374"
                aria-label="">
                <div class="styled-picture" width="206" height="181">
                    <img class="image" src="./assets/img/banner/dien-gia-dung.png" alt=""
                        srcset="./assets/img/banner/dien-gia-dung.png 1x, ./assets/img/banner/dien-gia-dung.png 2x">
                </div>
            </a>
        </div>
        <div width="50%" height="181px" class="hot-product-item-pic-yellow">
            <a href="lam-dep-suc-khoe-new-arrival-retails/c39890f1eb.html?src=home_v4_mini_banner.s6.b41402"
                aria-label="">
                <div class="styled-picture" width="206" height="181">
                    <img class="image" src="./assets/img/banner/my-pham.png" alt=""
                        srcset="./assets/img/banner/my-pham.png 1x, ./assets/img/banner/my-pham.png 2x">
                </div>
            </a>
        </div>
    </div>
</div>