<div class="loading" *ngIf="isLoading">
    <div class="loading-wrapper" style="width: 20%;">
        <div class="image fade-loading-animated"></div>
        <div class="text fade-loading-animated"></div>
        <div class="text fade-loading-animated" style="width: 70%;"></div>
        <div class="text fade-loading-animated" style="width: 50%;"></div>
    </div>
    <div class="loading-wrapper" style="width: 20%;">
        <div class="image fade-loading-animated"></div>
        <div class="text fade-loading-animated"></div>
        <div class="text fade-loading-animated" style="width: 70%;"></div>
        <div class="text fade-loading-animated" style="width: 50%;"></div>
    </div>
    <div class="loading-wrapper" style="width: 20%;">
        <div class="image fade-loading-animated"></div>
        <div class="text fade-loading-animated"></div>
        <div class="text fade-loading-animated" style="width: 70%;"></div>
        <div class="text fade-loading-animated" style="width: 50%;"></div>
    </div>
    <div class="loading-wrapper" style="width: 20%;">
        <div class="image fade-loading-animated"></div>
        <div class="text fade-loading-animated"></div>
        <div class="text fade-loading-animated" style="width: 70%;"></div>
        <div class="text fade-loading-animated" style="width: 50%;"></div>
    </div>
    <div class="loading-wrapper" style="width: 20%;">
        <div class="image fade-loading-animated"></div>
        <div class="text fade-loading-animated"></div>
        <div class="text fade-loading-animated" style="width: 70%;"></div>
        <div class="text fade-loading-animated" style="width: 50%;"></div>
    </div>
    <div class="loading-wrapper" style="width: 20%;">
        <div class="image fade-loading-animated"></div>
        <div class="text fade-loading-animated"></div>
        <div class="text fade-loading-animated" style="width: 70%;"></div>
        <div class="text fade-loading-animated" style="width: 50%;"></div>
    </div>
    <div class="loading-wrapper" style="width: 20%;">
        <div class="image fade-loading-animated"></div>
        <div class="text fade-loading-animated"></div>
        <div class="text fade-loading-animated" style="width: 70%;"></div>
        <div class="text fade-loading-animated" style="width: 50%;"></div>
    </div>
    <div class="loading-wrapper" style="width: 20%;">
        <div class="image fade-loading-animated"></div>
        <div class="text fade-loading-animated"></div>
        <div class="text fade-loading-animated" style="width: 70%;"></div>
        <div class="text fade-loading-animated" style="width: 50%;"></div>
    </div>
    <div class="loading-wrapper" style="width: 20%;">
        <div class="image fade-loading-animated"></div>
        <div class="text fade-loading-animated"></div>
        <div class="text fade-loading-animated" style="width: 70%;"></div>
        <div class="text fade-loading-animated" style="width: 50%;"></div>
    </div>
    <div class="loading-wrapper" style="width: 20%;">
        <div class="image fade-loading-animated"></div>
        <div class="text fade-loading-animated"></div>
        <div class="text fade-loading-animated" style="width: 70%;"></div>
        <div class="text fade-loading-animated" style="width: 50%;"></div>
    </div>
</div>