<div class="hot-slider-wrapper">
    <h4 class="title-wrapper">TỪ KHÓA HOT</h4>
    <div class="slide-container">
        <div class="slider-wrapper">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigWord">
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="keywords" href="https://tiki.vn/search?q=tai+nghe+bluetooth&amp;src=home_hotkeywords"
                                    style="background-color: rgb(92, 10, 107);">
                                    <p>tai nghe bluetooth</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="keywords"
                                    href="https://tiki.vn/search?q=%C4%91%E1%BB%93ng+h%E1%BB%93+th%C3%B4ng+minh&amp;src=home_hotkeywords"
                                    style="background-color: rgb(92, 10, 107);">
                                    <p>đồng hồ thông minh</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="keywords" href="https://tiki.vn/search?q=bitis+hunter&amp;src=home_hotkeywords"
                                    style="background-color: rgb(151, 78, 6);">
                                    <p>bitis hunter</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="keywords" href="https://tiki.vn/search?q=gi%C3%A0y+nam&amp;src=home_hotkeywords"
                                    style="background-color: rgb(94, 85, 69);">
                                    <p>giày nam</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="keywords" href="https://tiki.vn/search?q=balo&amp;src=home_hotkeywords"
                                    style="background-color: rgb(22, 112, 46);">
                                    <p>balo</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="keywords" href="https://tiki.vn/search?q=gi%C3%A0y+n%E1%BB%AF&amp;src=home_hotkeywords"
                                    style="background-color: rgb(22, 112, 46);">
                                    <p>giày nữ</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="keywords" href="https://tiki.vn/search?q=tai+nghe&amp;src=home_hotkeywords"
                                    style="background-color: rgb(0, 109, 144);">
                                    <p>tai nghe</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element">
                                <a class="keywords" href="https://tiki.vn/search?q=lock+and+lock&amp;src=home_hotkeywords"
                                    style="background-color: rgb(92, 10, 107);">
                                    <p>lock and lock</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords" href="https://tiki.vn/search?q=iphone+11&amp;src=home_hotkeywords"
                                    style="background-color: rgb(0, 90, 81);">
                                    <p>iphone 11</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords" href="https://tiki.vn/search?q=iphone&amp;src=home_hotkeywords"
                                    style="background-color: rgb(151, 78, 6);">
                                    <p>iphone</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords" href="https://tiki.vn/search?q=xiaomi&amp;src=home_hotkeywords"
                                    style="background-color: rgb(22, 112, 46);">
                                    <p>xiaomi</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords"
                                    href="https://tiki.vn/search?q=%C3%A1o+kho%C3%A1c+nam&amp;src=home_hotkeywords"
                                    style="background-color: rgb(92, 10, 107);">
                                    <p>áo khoác nam</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords" href="https://tiki.vn/search?q=airpod&amp;src=home_hotkeywords"
                                    style="background-color: rgb(153, 108, 0);">
                                    <p>airpod</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords" href="https://tiki.vn/search?q=loa+bluetooth&amp;src=home_hotkeywords"
                                    style="background-color: rgb(153, 39, 46);">
                                    <p>loa bluetooth</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords"
                                    href="https://tiki.vn/search?q=ly+gi%E1%BB%AF+nhi%E1%BB%87t&amp;src=home_hotkeywords"
                                    style="background-color: rgb(94, 85, 69);">
                                    <p>ly giữ nhiệt</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords"
                                    href="https://tiki.vn/search?q=s%E1%BA%A1c+d%E1%BB%B1+ph%C3%B2ng&amp;src=home_hotkeywords"
                                    style="background-color: rgb(0, 52, 93);">
                                    <p>sạc dự phòng</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords" href="https://tiki.vn/search?q=apple+watch&amp;src=home_hotkeywords"
                                    style="background-color: rgb(151, 78, 6);">
                                    <p>apple watch</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords" href="https://tiki.vn/search?q=ipad&amp;src=home_hotkeywords"
                                    style="background-color: rgb(153, 39, 46);">
                                    <p>ipad</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords" href="https://tiki.vn/search?q=anker&amp;src=home_hotkeywords"
                                    style="background-color: rgb(151, 78, 6);">
                                    <p>anker</p>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem>
                    <div>
                        <div tabindex="-1" class="hot-slider-slide" style="width: 100%; display: inline-block;">
                            <div class="element"><a class="keywords" href="https://tiki.vn/search?q=innisfree&amp;src=home_hotkeywords"
                                    style="background-color: rgb(151, 78, 6);">
                                    <p>innisfree</p>
                                </a></div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</div>
