<header class="header-bd">
    <div class="promotion-main">
        <div class="container-it">
            <div class="promotion-right">
                <a href="javascript:void(0)" class="promotion-item">
                    <img style="margin-right:4px" src="./assets/img/header/ticket-box.png" alt="Ticketbox" width="18">
                    <span>Ticketbox</span>
                </a>
                <div class="tiki-assistant-main">
                    <a class="tiki-assistant-link" target="_blank" href="javascript:void(0)" rel="noreferrer">
                        <img src="./assets/img/header/chrome.png" alt="Tiki Assistant" width="18">
                        <span>Trợ lý Tiki</span>
                    </a>
                    <div class="tiki-assistant-tooltip">
                        <p><a target="_blank" href="javascript:void(0)" rel="noreferrer">Tiki Assistant</a>
                            <!-- -->là tiện ích chạy trực tiếp trên trình duyệt Chrome - giúp gợi ý &amp; tìm kiếm nhanh các sản phẩm tốt nhất trên Tiki, phù hợp với nhu cầu tìm kiếm sản phẩm của bạn.</p>
                        <p>Cách sử dụng: Bạn không cần phải làm gì khác sau khi cài đặt tiện ích này. Khi bạn tìm kiếm sản phẩm, tiện ích Tiki Assistant sẽ tự động gợi ý các sản phẩm phù hợp (nếu có).
                            <!-- -->
                        </p>
                    </div>
                </div>
                <a href="javascript:void(0)" class="promotion-item"><i class="tikicon icon-uu-dai-hop-tac Promotion__Icon-kjxsgc-3 jzCyqy"></i>Ưu đãi đối tác</a>
                <a href="dat-phong-khach-san43eb.html?src=header_hotels" class="promotion-item"><i class="tikicon icon-booking_dot_com Promotion__Icon-kjxsgc-3 jzCyqy"></i> Đặt khách sạn</a>
                <a href="dat-ve-may-bay99c8.html?src=header_flights" class="promotion-item"><i class="tikicon icon-gotadi Promotion__Icon-kjxsgc-3 jzCyqy"></i>Đặt vé máy bay</a>
                <a href="chuong-trinh/clearance-saleb760.html?src=header_hunting" class="promotion-item"><i class="tikicon icon-clearance-sale Promotion__Icon-kjxsgc-3 jzCyqy"></i>Săn hàng tồn</a>
                <a href="deal-hot45de.html?src=header_promotion" class="promotion-item"><i class="icomoon icomoon-fire Promotion__IconFire-kjxsgc-4 xBvqJ"></i>Khuyến Mãi HOT</a>
                <a href="chuong-trinh/tiki-global-hang-quoc-te.html?src=header_international" class="promotion-item"><i class="tikicon icon-global-18 Promotion__Icon-kjxsgc-3 jzCyqy"></i>Hàng quốc tế</a>
                <div class="seller-register">
                    <a target="_blank" href="ban-hang-cung-tiki4b6c.html?ref=header-dropdown&amp;src=header_sell_with_tiki" title="Kinh doanh cùng Tiki">
                        <i class="tikicon icon-money_bag"></i>Bán hàng cùng Tiki <i class="tikicon icon-arrow-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-sc">
        <div class="middle-wrap">
            <div class="middle-left-container">
                <div class="logo-sc"><a href="index9c9b.html?src=header_tiki"><i class="tikicon icon-tiki_short"></i></a>
                    <a href="tikinow4d19.html?src=header_tikinow" aria-label=""><img style="margin-left:3px" height="33" src="./assets/img/banner/ship-motor.png" alt=""></a>
                </div>
                <div class="form-search-root">
                    <div class="form-fearch-form">
                        <input type="text" value="" placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ..." class="form-search-input">
                        <button class="form-search-button"><i class="tikicon icon-search"></i>Tìm kiếm</button>
                        <div class="search-autocomplete-root"></div>
                    </div>
                </div>
            </div>
            <div class="userstyle-root">
                <a href="customer/account/login4378.html?src=header_orders" title="Theo dõi đơn hàng">
                    <div class="userstyle-item"><i class="tikicon icon-tracking"></i><span class="userstyle-item-text">Theo dõi<br>đơn hàng</span></div>
                </a>
                <div class="userstyle-item"><i class="tikicon icon-notification"></i><span class="userstyle-item-count"></span><span class="userstyle-item-text">Thông báo<br>của tôi</span>
                    <div class="Userstyle__UserNotificationDroprown-xrezqc-6 cKuvwp">
                        <ul></ul>
                    </div>
                </div>
                <div class="userstyle-item"><i class="tikicon icon-user"></i><span class="userstyle-item-text"><span class="userstyle-no-wrap">Đăng nhập</span>
                    <br><small>Tài khoản</small></span>
                    <div class="toggler userstyle-user-drop-down">
                        <button class="userstyle-user-drop-down-button">Đăng nhập</button>
                        <button class="userstyle-user-drop-down-button">Tạo tài khoản</button>
                        <button class="userstyle-user-drop-down-button-x"><span class="userstyle-button-icon"><i class="tikicon icon-facebook-white"></i></span>Đăng nhập bằng Facebook</button>
                        <button class="userstyle-user-drop-down-button-xr"><span class="userstyle-button-icon"><i class="tikicon icon-google-white"></i></span>Đăng nhập bằng Google</button>
                        <button class="userstyle-user-drop-down-button-10"><span class="userstyle-button-icon"><i class="tikicon icon-zalo"></i></span>Đăng nhập bằng Zalo</button>
                    </div>
                </div>
                <a href="checkout/cart2919.html?src=header_cart">
                    <div class="userstyle-item-checkout"><i class="tikicon icon-cart"></i><span class="userstyle-item-text">Giỏ hàng<span class="userstyle-item-cart-count">0</span></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-root-sc">
        <div style="position:relative;display:flex;align-items:center;justify-content:space-between;height:40px" class="container-sc">
            <div class="menu-wrapper-sc"><a class="menu-button"><i class="Menu-icon tikicon icon-burger-menu"></i><span>DANH MỤC SẢN PHẨM</span></a></div>
            <div class="location-wrapper"><a><i class="tikicon icon-location-picker"></i><span>Bạn muốn giao hàng tới đâu?</span></a>
                <div style="display: none;" class="location-tootip"><a class="icon" title="Ẩn"><i class="tikicon icon-circle-close"></i></a>
                    <p>Bạn ơi hãy chọn địa chỉ giao hàng của bạn để có trải nghiệm mua sắm tốt nhất nhé</p>
                </div>
            </div>
            <div class="recently-view-wrapper-sc"><a class="recently-view-button-sc"><i class="tikicon icon-arrow-down"></i>Sản phẩm bạn đã xem</a>
                <div class="recentlyview-view-sc">
                    <div class="container-sc">
                        <div class="content">
                            <p class="empty">Bạn chưa xem sản phẩm nào.
                                <br>Hãy tiếp tục khám phá Tiki, các sản phẩm bạn đã xem sẽ hiển thị ở đây!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-link-container-sc"><a href="tikinowf9fb.html?src=header_tikinow_fast" target="_blank" class="bottom-link-sc"><i class="tikicon icon-tikinow"></i><span>TikiNOW giao nhanh<br>Hàng trăm nghìn sản phẩm</span></a><a class="bottom-link-sc"><i class="tikicon icon-exclusive"></i><span>Tất cả sản phẩm<br>100% chính hiệu</span></a><a href="doi-tra-de-dangf58f.html?src=header_return_policy" target="_blank" class="bottom-link-sc"><i class="tikicon icon-return"></i><span>30 ngày đổi trả dễ dàng</span></a></div>
        </div>
    </div>
</header>