/* sc-component-id: Header */
.header-bd {
    position: relative;
    background: #189eff;
    z-index: 999;
}
/* sc-component-id: Promotion__Main */
.promotion-main {
    background: rgb(29, 113, 171);
}
.container-it {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* sc-component-id: Promotion__Right */
.container-it .promotion-right {
    display: flex;
    height: 28px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
/* sc-component-id: Promotion__Item */
.promotion-item {
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    line-height: 26px;
    display: inline-flex;
    letter-spacing: 0.5px;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 0px 25px;
    text-decoration: none;
}
.tiki-assistant-main {
    position: relative;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    line-height: 26px;
    display: inline-flex;
    letter-spacing: 0.5px;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 0px 15px;
}
.tiki-assistant-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.tiki-assistant-tooltip {
    font-weight: 400;
    display: none;
    position: absolute;
    top: 100%;
    left: 30px;
    margin-top: 10px;
    color: rgb(36, 36, 36);
    z-index: 20;
    font-size: 13px;
    line-height: 20px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 0px 1px 0px;
    transition-duration: 0.3s;
    padding: 12px;
    border-radius: 4px;
}
.tiki-assistant-tooltip::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -7px;
    left: 10px;
    border-style: solid;
    border-width: 0px 7px 7px;
    border-color: transparent transparent rgb(255, 255, 255);
}
.tiki-assistant-tooltip::after {
    content: "";
    width: 80px;
    height: 20px;
    position: absolute;
    top: -12px;
    left: 3px;
    display: inline-block;
}

/* sc-component-id: SellerRegister__Main */

.seller-register {
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    line-height: 26px;
    display: inline-block;
    -webkit-letter-spacing: 0.5px;
    -moz-letter-spacing: 0.5px;
    -ms-letter-spacing: 0.5px;
    letter-spacing: 0.5px;
    margin: 0 0 0 25px;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.seller-register a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}

.seller-register .icon-money_bag {
    margin-right: 4px;
}

.seller-register .icon-arrow-down {
    margin-left: 4px;
}

/* sc-component-id: Container-sc */

.container-sc {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* sc-component-id: Middle__Wrap */

.middle-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0 16px 0;
    height: 76px;
    position: relative;
    z-index: 2;
}

/* sc-component-id: Middle__LeftContainer */

.middle-left-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* sc-component-id: Logo-sc */

.logo-sc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

/* sc-component-id: FormSearch__Root */

.form-search-root {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 10px;
}

/* sc-component-id: FormSearch__Form */

.form-fearch-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(98, 98, 98, 0.5);
}

/* sc-component-id: FormSearch__Input */

.form-search-input {
    border: 0px;
    padding: 0 8px;
    font-size: 13px;
    border-radius: 4px 0 0 4px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    outline: none;
}

.form-search-input::-webkit-input-placeholder {
    color: #c7c7c7;
    font-size: 13px;
}

.form-search-input::-moz-placeholder {
    color: #c7c7c7;
    font-size: 13px;
}

.form-search-input:-ms-input-placeholder {
    color: #c7c7c7;
    font-size: 13px;
}

.form-search-input::placeholder {
    color: #c7c7c7;
    font-size: 13px;
}

/* sc-component-id: FormSearch__Button */

.form-search-button {
    cursor: pointer;
    border: 0px;
    padding: 0 11px 0 15px;
    background: #edeef2;
    height: 40px;
    border-radius: 0 4px 4px 0;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    outline: none;
}

.form-search-button .tikicon {
    margin-right: 7px;
}

/* sc-component-id: SearchAutocomplete__Root */

.search-autocomplete-root {
    background: #fff;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    list-style: none;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.28);
    display: none;
}

/* sc-component-id: Userstyle__Root */

.userstyle-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/* sc-component-id: Userstyle__Item */

.userstyle-item {
    cursor: pointer;
    margin: 0 0 0 25px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #ffffff;
    font-size: 12px;
    position: relative;
    font-weight: 400;
    line-height: 14px;
    -webkit-letter-spacing: 0.9px;
    -moz-letter-spacing: 0.9px;
    -ms-letter-spacing: 0.9px;
    letter-spacing: 0.9px;
}

.userstyle-item:hover .toggler {
    display: block;
}

.userstyle-item >.tikicon {
    margin-right: 12px;
}

.userstyle-item-checkout {
    cursor: pointer;
    margin: 0 0 0 25px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #ffffff;
    font-size: 12px;
    position: relative;
    font-weight: 400;
    line-height: 14px;
    -webkit-letter-spacing: 0.9px;
    -moz-letter-spacing: 0.9px;
    -ms-letter-spacing: 0.9px;
    letter-spacing: 0.9px;
    border: 2px solid #ffffff;
    padding: 8px 11px 8px 11px;
    border-radius: 4px;
    margin-left: 30px;
    -webkit-letter-spacing: 0.7px;
    -moz-letter-spacing: 0.7px;
    -ms-letter-spacing: 0.7px;
    letter-spacing: 0.7px;
    font-weight: 400;
    font-size: 13px;
    vertical-align: middle;
}

.userstyle-item-checkout:hover .toggler {
    display: block;
}

.userstyle-item-checkout >.tikicon {
    margin-right: 0px;
}

.userstyle-item-checkout >.tikicon {
    margin-right: 12px;
}

/* sc-component-id: Userstyle__ItemText */

.userstyle-item-text {
    color: #ffffff;
    font-weight: 400;
    white-space: nowrap;
}

.userstyle-item-text small {
    font-size: 11px;
    font-weight: 300;
}

/* sc-component-id: Userstyle__ItemCount */

.userstyle-item-count {
    font-size: 10px;
    float: left;
    position: absolute;
    left: 13px;
    top: -6px;
    display: block;
    background: #ff5353;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    z-index: 2;
    border: 1px solid #189eff;
    font-weight: 300;
    width: 21px;
    height: 21px;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 12px;
    font-size: 0;
}

/* sc-component-id: Userstyle__UserDropDown */

.userstyle-user-drop-down {
    display: none;
    border: 1px solid #efefef;
    background: #ffffff;
    width: auto;
    min-width: 196px;
    z-index: 15;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18);
    position: absolute;
    top: 45px;
    left: calc(50% + 10px);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.userstyle-user-drop-down:after {
    content: ' ';
    background: transparent;
    height: 20px;
    width: 150px;
    top: -20px;
    left: calc(50% - 65px);
    position: absolute;
    display: inline-block;
}

.userstyle-user-drop-down:before {
    border: 9px solid transparent;
    border-bottom: 9px solid #ffffff;
    margin-left: -9px;
    bottom: 100%;
    left: 50%;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.userstyle-user-drop-down li {
    display: block;
    position: relative;
    width: 236px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #000000;
    background: #fdd835;
    border-radius: 4px;
    margin: 10px 0;
}

/* sc-component-id: Userstyle__UserDropDownButton */

.userstyle-user-drop-down-button {
    color: #4a4a4a;
    background: #fdd835;
    border-color: #fdd835;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 0;
    white-space: nowrap;
    padding: 0;
    font-size: 14px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 5px 12px;
    width: 236px;
    height: 41px;
    line-height: 41px;
    outline: none;
    text-shadow: 0 0 1px #ababab;
}

.userstyle-user-drop-down-button:hover {
    opacity: 0.85;
}

.userstyle-user-drop-down-button-x {
    color: #4a4a4a;
    background: #fdd835;
    border-color: #fdd835;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 0;
    white-space: nowrap;
    padding: 0;
    font-size: 14px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 5px 12px;
    width: 236px;
    height: 41px;
    line-height: 41px;
    outline: none;
    background: #3b5998;
    color: #ffffff;
    font-weight: 400;
}

.userstyle-user-drop-down-button-x:hover {
    opacity: 0.85;
}

.userstyle-user-drop-down-button-xr {
    color: #4a4a4a;
    background: #fdd835;
    border-color: #fdd835;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 0;
    white-space: nowrap;
    padding: 0;
    font-size: 14px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 5px 12px;
    width: 236px;
    height: 41px;
    line-height: 41px;
    outline: none;
    background: #df4a32;
    color: #ffffff;
    font-weight: 400;
}

.userstyle-user-drop-down-button-xr:hover {
    opacity: 0.85;
}

.userstyle-user-drop-down-button-10 {
    color: #4a4a4a;
    background: #fdd835;
    border-color: #fdd835;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 0;
    white-space: nowrap;
    padding: 0;
    font-size: 14px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 5px 12px;
    width: 236px;
    height: 41px;
    line-height: 41px;
    outline: none;
    background: #0f8edd;
    color: #ffffff;
    font-weight: 400;
}

.userstyle-user-drop-down-button-10:hover {
    opacity: 0.85;
}

/* sc-component-id: Userstyle__ButtonIcon */

.userstyle-button-icon {
    float: left;
    height: 41px;
    width: 41px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

/* sc-component-id: Userstyle__ItemCartCount */

.userstyle-item-cart-count {
    color: #4a4a4a;
    background: #fdd835;
    height: 20px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-left: 9px;
    font-size: 12px;
    padding: 0 6px;
    font-weight: 700;
}

/* sc-component-id: Bottom__Root */

.bottom-root-sc {
    position: relative;
    z-index: 1;
}

/* sc-component-id: Menu__Wrapper */

.menu-wrapper-sc {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: 229px;
    padding-left: 12px;
    padding-bottom: 10px;
}

.menu-wrapper-sc .menu-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    -webkit-letter-spacing: 0.6px;
    -moz-letter-spacing: 0.6px;
    -ms-letter-spacing: 0.6px;
    letter-spacing: 0.6px;
}

.menu-wrapper-sc .Menu-icon {
    margin-right: 8px;
}

/* sc-component-id: Location__Wrapper */

.location-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    margin-right: 20px;
    padding-bottom: 10px;
}

.location-wrapper a {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.location-wrapper .tikicon {
    margin-right: 9px;
}

.location-wrapper span {
    display: inline-block;
    max-height: 32px;
    width: 180px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    -webkit-letter-spacing: 0.6px;
    -moz-letter-spacing: 0.6px;
    -ms-letter-spacing: 0.6px;
    letter-spacing: 0.6px;
    overflow: hidden;
}

/* sc-component-id: Location__TooTip */

.location-tootip {
    display: none;
    position: absolute;
    top: 34px;
    left: -8px;
    width: 252px;
    padding: 10px 22px 10px 16px;
    background: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    z-index: 1070;
}

.location-tootip:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 15px;
    display: block;
    width: 10px;
    height: 10px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.location-tootip .icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
}

.location-tootip .icon .tikicon {
    margin-right: 0;
}

.location-tootip p {
    margin: 0;
    color: #000000;
    font-size: 13px;
    line-height: 1.4;
}

/* sc-component-id: RecentlyView__Wrapper */

.recently-view-wrapper-sc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

/* sc-component-id: RecentlyView__Button */

.recently-view-button-sc {
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-bottom: 10px;
    color: #ffffff !important;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    -webkit-letter-spacing: 0.6px;
    -moz-letter-spacing: 0.6px;
    -ms-letter-spacing: 0.6px;
    letter-spacing: 0.6px;
}

.recently-view-button-sc:hover {
    opacity: 1;
}

.recently-view-button-sc i {
    margin-right: 8px;
}

// .recently-view-button-sc .icon-arrow-down:before {
//     content: "";
// }

/* sc-component-id: RecentlyView__View */

.recentlyview-view-sc {
    position: absolute;
    bottom: -148px;
    left: 0;
    display: none;
    width: 100%;
}

.recentlyview-view-sc .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 148px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.recentlyview-view-sc .empty {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
}

/* sc-component-id: Bottom__LinkContainer */

.bottom-link-container-sc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-bottom: 10px;
}

/* sc-component-id: Bottom__Link-sc */

.bottom-link-sc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff !important;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    font-weight: 300;
    -webkit-letter-spacing: 0.6px;
    -moz-letter-spacing: 0.6px;
    -ms-letter-spacing: 0.6px;
    letter-spacing: 0.6px;
}

.bottom-link-sc .tikicon {
    margin-right: 9px;
}

.bottom-link-sc a {
    color: #ffffff;
}

.icon-user:before {
    content: "";
}

.userstyle-no-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 80px;
    overflow: hidden;
}