<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
  <notifier-container></notifier-container>
  <nb-card-header>Chuyển khoản nội bộ</nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Chọn tài khoản</label>
        <div class="col-sm-3">
          <nb-select [disabled]="finished===true" fullWidth placeholder="Chọn tài khoản" class="text-center">
            <nb-option *ngFor="let item of internalAccounts" [value]="item.account" (selectionChange)="paymentChange(item)">{{item.account}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAccount" class="label col-sm-3 col-form-label">Thông tin người nhận</label>
        <div class="col-sm-3">
          <!-- <input nbInput [(ngModel)]="paymentTransaction.beneficiaryAccount" #beneficiaryAccount="ngModel" fullWidth id="beneficiary-account" name="beneficiaryAccount" placeholder="Số tài khoản người nhận"> -->
          <ngx-auto-complete [disabled]="finished===true" [placeholder]="'Số tài khoản người nhận'" [(loading)]="loading" [(keywork)]="paymentTransaction.beneficiaryAccount" [(valueshow)]="selectedBenificiary.name" [(response)]="accountInfo" [dataSource]="source" (callBackFunc)="callBack($event)"></ngx-auto-complete>
        </div>
        <label class="label col-sm-3 col-form-label"><span>{{selectedBenificiary.name}}</span></label>
      </div>
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <label class="label col-form-label"><span style="padding-right: 5px;">hoặc</span></label>
          <nb-select placeholder="Chọn người thụ hưởng" [disabled]="(paymentTransaction.beneficiaryAccount!=null&&paymentTransaction.beneficiaryAccount!=='')||finished===true">
            <nb-option *ngFor="let item of benificiary" [value]="item.account" (selectionChange)="benificiaryChange(item)">{{item.name}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputMoney" class="label col-sm-3 col-form-label">Số tiền cần chuyển</label>
        <div class="col-sm-3">
          <input [disabled]="finished===true" nbInput currencyMask [(ngModel)]="paymentTransaction.money" name="money" [options]="{ prefix: '', thousands: ',', decimal: '.', precision: '0', allowNegative: false }"
                        class="form-control form-primary form-control-lg form-control-right border-left-0 border-right-0 border-top-0"
                        placeholder="0.000">
          <!-- <input nbInput currencyMask [(ngModel)]="paymentTransaction.money" [options]="{ prefix: '', thousands: ',', decimal: '.', precision: '3', allowNegative: false }"
                        class="form-control form-primary form-control-lg form-control-right border-left-0 border-right-0 border-top-0"
                        placeholder="0.000" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of keypadNumbers" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <span class="form-bar"></span> -->
        </div>
      </div>
      <div class="form-group row">
        <label for="inputContent" class="label col-sm-3 col-form-label">Nội dung</label>
        <div class="col-sm-6">
          <input [disabled]="finished===true" nbInput [(ngModel)]="paymentTransaction.content" #content="ngModel" fullWidth id="input-content" name="content" placeholder="Nội dung chuyển khoản">
        </div>
      </div>
      <div class="form-group row">
        <label class="label col-sm-3 col-form-label">Hình thức thanh toán phí</label>
        <div class="col-sm-9">
          <nb-radio-group [disabled]="finished===true" [(ngModel)]="paymentTransaction.fee" name="fee">
            <nb-radio value="false">Người nhận trả phí</nb-radio>
            <nb-radio value="true">Người gửi trả phí</nb-radio>
          </nb-radio-group>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" *ngIf="finished===false" nbButton status="primary">Chuyển tiền</button>
          <button type="submit" *ngIf="finished===true" nbButton status="warning" (click)="goHome()">Trang chủ</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>