<div class="row">
  <div class="col-sm-4" *ngFor="let acct of accounts">
    <mat-card>
      <mat-card-title>Tài khoản </mat-card-title>
      <mat-card-content>Số dư khả dụng: </mat-card-content>
    </mat-card>
  </div>
  <!-- <div class="col-sm-4">
    <mat-card>
      <mat-card-title>Special title treatment</mat-card-title>
      <mat-card-content>With supporting text below as a natural lead-in to additional content.</mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-4">
    <mat-card>
      <mat-card-title>Special title treatment</mat-card-title>
      <mat-card-content>With supporting text below as a natural lead-in to additional content.</mat-card-content>
    </mat-card>
  </div> -->
</div>