<app-modal-animation [modalID]="'sessionModal'" [modalClass]="'md-effect-12 text-center modal-sm'">
    <h4 class="py-3 f-w-400">Session Timeout</h4>
    <div>
        <p class="f-14">Your session is about to expire. Do you need more time?</p>
        <p class="f-14 f-w-500 mb-3">
            <span class="f-20">{{(countMinutes !==0 ? + countMinutes: '0')}} </span>
            minute{{(countMinutes > 1 ? 's' : ' ')}}
            <span class="f-20">{{countSeconds}}</span> secs
        </p>
        <p>
        </p>
        <button (click)="response(false)" class="btn  px-4 btn-danger btn-round btn-sm mx-2 waves-light"
            mdbRippleRadius>
            No</button>
        <button (click)="response(true)" class="btn  px-4 btn-success btn-round btn-sm mx-2 waves-light"
            mdbRippleRadius>
            Yes</button>
    </div>
    <button (click)="response(true)" aria-label="Close" class="md-close-btn"><i
            class="icofont icofont-ui-close"></i></button>
</app-modal-animation>